<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj prywatne pytanie</title>
</head>
<body>
    <h3>Dodaj prywatne pytanie</h3>
    <form th:action="@{/addPrivateQuestion}" th:object="${question}" method="post">
        <input type="text" th:field="*{content}" placeholder="Treść pytania"/> <br />
        <input type="text" th:field="*{answerA}" placeholder="Odpowiedź A"/> <br />
        <input type="text" th:field="*{answerB}" placeholder="Odpowiedź B"/> <br />
        <input type="text" th:field="*{answerC}" placeholder="Odpowiedź C"/> <br />
        <input type="text" th:field="*{answerD}" placeholder="Odpowiedź D"/> <br />
        <select name="correctAnswer" th:field="*{correctAnswer}">
            <option th:each="answer : ${T(pl.rynski.quizytesty.model.Answer).values()}"
                    th:value="${answer}" th:text="${answer}"></option>
        </select>
        <p th:each="category : ${privateCategoryList}">
            <input type="checkbox" th:field="*{categoryList}" th:value="${category.id}"/>
            <label th:text="${category.name}" ></label>
        </p>
        <input type="submit" value="Dodaj">
    </form>
</body>
</html>